@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center" width="50%" height="10000" style="float: left">

    <img src="/image/image.jpg" width="300" height="500" />
</div>
<div class="text-center" width="50%" height="10000" style="float: left">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    
</div>




